.page {
  background-color: #f3f3f3;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.cards__list img {
  width: 100%;
  height: auto;
  max-width: 200px;
}
