.sidebar__profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;  
}

.sidebar__user-name {
  margin: 0;
  font-family: Cabinet Grotesk, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.sidebar__avatar {
  margin-left: 12px;
  flex: 0 0 40px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.sidebar__avatar_none {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 20px;
  width: 40px;
}
